/* ===================================================================== 
   Practice CSS Grid Layout
======================================================================== */

/*----------------------------------------------------------------------
Basic single column layout for all browsers:
------------------------------------------------------------------------ */

body {
  /* Restrict width so site still looks nice on wide viewports */
  max-width: 50rem; /* max-width prevents horizontal scrollbars when width is
  skinnier than 50rem */
  margin: 0 auto; /* Horizontally center everything */
}

/* Use flex to make 'main' grow to fill the viewport and the footer sticky */

@supports (display: flex) {
  .grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }

  /* Alternatively, use margin-top: auto to make footer's margin take up all the
  extra space in the flex container. This only works on flex items. */
  /* footer {
    margin-top: auto;
  } */
}

/*----------------------------------------------------------------------
CSS Grid Layout for browsers with CSS Grid support:
------------------------------------------------------------------------ */

/* @supports (grid-area: auto) {
  @media screen and (min-width: 50em) {
    .site {
      max-width: none;
      display: grid;
      grid-template-columns: 15em auto;
    }
  }
} */
