/* ===================================== 
   Page Styles
======================================== */

* {
  box-sizing: border-box; /* Include padding and border in the 
                          element's total width and height */
}

body {
  font-size: 1rem;
  line-height: 1.5;
	font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.grid > * { /* target children of .grid */
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
  border-radius: 0.3em;
}

header {
  background-color: #3398cc;
}

main {
  background-color: #976698;
}

.grid div {
  background-color: #8494a4;
}

footer {
  background-color: #33cacb;
}